{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="register_form">
            <div class="container-fluid">
                <div class="row">
                    <h2>Register</h2>
                </div>
                <div class="row">
                    <form control="" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="email" class="form__input" placeholder="Email">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="nama" class="form__input" placeholder="Nama">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="kontak" class="form__input" placeholder="Kontak">
                        </div>
                        <div class="row">
                            <div class="row btn-container">
                                <input type="submit" value="Submit" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}