{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="register_form" >
            <div class="container-fluid">
                <div class="row">
                    <h2>Create Album</h2>
                </div>
                <div class="row">
                    <form control="" class="form-group"  style="color: #000000;">
                        <div class="row">
                            <label for="judul">Judul:</label>
                            <input type="text" name="judul" id="judul" class="form__input">
                        </div>
                        <div class="row">
                            <label for="label">Label:</label>
                            <select name="label" id="label">
                                <option value="label1">Label1</option>
                                <option value="label2">Label2</option>
                                <option value="label3">Label3</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="row btn-container">
                                <input type="submit" value="Submit" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}