{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block content %}
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="register_form" >
      <div class="container-fluid">
        <div class="row">
          <h2>Create Song</h2>
        </div>
        <div class="row">
          <form method="POST" class="form-group"  style="color: #000000;">
            {% csrf_token %}
            {% if request.session.is_artist %}
            <div class="row">
              <label>Album: {{ album_name }}</label>
            </div>
            <div class="row">
              <label>Judul Lagu</label>
              <div>{{ form.judul_lagu | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Artist: {{ request.session.nama }}</label>
            </div>
            <div class="row">
              <label>Songwriter</label>
              <div>{{ form.daftar_songwriter | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Genre</label>
              <div>{{ form.daftar_genre | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Durasi</label>
              <div>{{ form.durasi | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <div class="row btn-container">
                <button type="submit" name="form_submit" class="btn">Submit</button>
              </div>
            </div>
            {% elif request.session.is_songwriter %}
            <div class="row">
              <label>Album: {{ album_name }} </label>
            </div>
            <div class="row">
              <label>Judul Lagu</label>
              <div>{{ form.judul_lagu | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Artist</label>
              <div>{{ form.daftar_artist | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Songwriter: {{ request.session.nama }}</label>
            </div>
            <div class="row">
              <label>Genre</label>
              <div>{{ form.daftar_genre | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <label>Durasi</label>
              <div>{{ form.durasi | addclass:"form__input"}}</div>
            </div>
            <div class="row">
              <div class="row btn-container">
                <button type="submit" name="form_submit" class="btn">Submit</button>
              </div>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}