{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="register_form" >
      <div class="container-fluid">
        <div class="row">
          <h2>Create Lagu</h2>
        </div>
        <div class="row">
          <form control="" class="form-group"  style="color: #000000;">
            <div class="row">
              <span class="album">Album: Album1</span>
            </div>
            <br>
            <div class="row">
              <label for="judul">Judul:</label>
              <input type="text" name="judul" id="judul" class="form__input">
            </div>
            {% if user_type == 'artist' %}
            <div class="row">
              <span class="artist">Artist: Artist1</span>
            </div>
            <br>
            <div style="text-align:left;">
              <span class="songwriter">Songwriter: </span> <br>
              <input type="checkbox" id="songwriter1" name="songwriter1" value="Songwriter1">
              <label for="songwriter1"> Songwriter1</label>  <br>
              <input type="checkbox" id="songwriter2" name="songwriter2" value="Songwriter2">
              <label for="songwriter2"> Songwriter2</label>  <br>
              <input type="checkbox" id="songwriter3" name="songwriter3" value="Songwriter3">
              <label for="songwriter3"> Songwriter3</label>  <br>
            </div>
            {% else %}
            <div style="text-align:left;">
              <span class="artist">Artist: </span> <br>
              <input type="checkbox" id="artist1" name="artist1" value="Artist1">
              <label for="artist1"> Artist1</label>  <br>
              <input type="checkbox" id="artist2" name="artist2" value="Artist2">
              <label for="artist2"> Artist2</label>  <br>
              <input type="checkbox" id="artist3" name="artist3" value="Artist3">
              <label for="artist3"> Artist3</label>  <br>
            </div>
            <br>
            <div class="row">
              <span class="songwriter">Songwriter: Songwriter1</span>
            </div>
            {% endif %}
            <br>
            <div style="text-align:left;">
              <span class="genre">Genre: </span> <br>
              <input type="checkbox" id="genre1" name="genre1" value="Genre1">
              <label for="genre1"> Genre1</label>  <br>
              <input type="checkbox" id="genre2" name="genre2" value="Genre2">
              <label for="genre2"> Genre2</label>  <br>
              <input type="checkbox" id="genre3" name="genre3" value="Genre3">
              <label for="genre3"> Genre3</label>  <br>
            </div>
            <br>
            <div class="row">
              <label for="durasi">Durasi:</label>
              <input type="text" name="durasi" id="durasi" class="form__input">
            </div>
            <div class="row">
              <div class="row btn-container">
                <input type="submit" value="Submit" class="btn">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}