{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="p-3 rounded w-50 m-auto bg-white fc-primary">
        <div class="pb-3">
            <h1 class="fw-bold">Tambah Playlist</h1>
        </div>
        <div class="row">
            <label for="judul">Judul:</label>
            <input type="text" name="judul" id="judul" class="form__input">
          </div>
          <div class="row">
            <label for="judul">Description:</label>
            <input type="text" name="judul" id="judul" class="form__input">
          </div>
          <div class="row">
            <div class="row btn-container">
              <input type="submit" value="Submit" class="btn">
            </div>
          </div>
    </div>

</div>
{% endblock content %}