{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="p-3 rounded w-50 m-auto bg-white fc-primary">
        <div class="container mt-5">
            <h2 class="text-center">User Playlist</h2>
            <div class="mt-4">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Jumlah Lagu</th>
                            <th scope="col">Total Durasi</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{playlist.title}}</td>
                            <td>{{playlist.total}}</td>
                            <td>{{playlist.duration}}</td>
                            <td>
                                <a href="{% url 'song:songdetail' %}">
                                    <button>
                                        Detail
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'playlist:editplaylist' book.pk %}">
                                    <button>
                                        Ubah
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'playlist:deleteplaylist' book.pk %}">
                                    <button>
                                        Hapus
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div  class="row justify-content-center">
            <a style="width: 25%;" href="{% url 'playlist:addplaylist' %}" class="btn btn-secondary">Tambah Playlist</a>
        </div>
    </div>

</div>
{% endblock content %}