{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="p-3 rounded w-50  m-auto bg-white fc-primary">
        <div class="pb-3">
            <h1 class="fw-bold">List Podcast</h1>
        </div>
        <div>
            {% for podcast in podcasts %}
            <div class="card mb-3 fc-primary">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body d-flex justify-content-between gap-5 ">
                        <div class="w-100">
                            <h5 class="card-title fw-semibold ">{{ podcast.judul }}</h5>
                            <p class="m-0">Jumlah Episode: {{podcast.jumlah_episode}}</p>
                            <p>Durasi: {{podcast.durasi}}</p>
                            <a href="/podcast/all-episode/{{podcast.id}}">
                            <button type="button" class="btn btn-primary m-0" style="border-radius: 10px; width: 30%;">Lihat Episode</button></a>   
                        </div>
                        <div>
                            <a href="/podcast/create-episode/{{podcast.id}}">
                                <button type="button" class="btn btn-blue m-0 mb-2" style="border-radius: 10px; width: 100%;">Tambah Episode</button>
                            </a>
                            <a href="/podcast/delete-podcast/{{podcast.id}}">
                                <button type="button" class="btn btn-red m-0" style="border-radius: 10px; width: 100%;">Hapus</button>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}