{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="register_form">
            <div class="container-fluid">
                <div class="row">
                    <h2>Dashboard</h2>
                </div>
                <div class="row">
                    <table class="min-w-full text-sm font-dark overflow-hidden" style="color:#996f59">
                        <tbody>
                        <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                            <td class="whitespace-nowrap px-6 py-4">Nama: Citlalli Smitham Sr.</td>
                            <td class="whitespace-nowrap px-6 py-4">Email: jennie94@example.org</td>
                        </tr>
                        <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                            <td class="whitespace-nowrap px-6 py-4">Kontak: </td>
                            <td class="whitespace-nowrap px-6 py-4">Gender: </td>
                        </tr>
                        <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                            <td class="whitespace-nowrap px-6 py-4">Tempat lahir: </td>
                            <td class="whitespace-nowrap px-6 py-4">Tanggal lahir: </td>
                        </tr>
                        <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                            <td class="whitespace-nowrap px-6 py-4">Role: </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}