{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">SEARCH BAR</h2>
        <form action="{% url 'dashboard:search_bar' %}" method="GET" class="mt-4">
            <div class="form-group mx-auto text-center">
                <input style="width: 50%;" type="text" class="form-control mx-auto" id="query" name="query" placeholder="Masukkan judul/nama" value="{{ query }}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="width: 25%;">Cari</button>
            </div>
        </form>
    </div>

    {% if podcasts or songs or user_playlists %}
        <div class="container mt-5">
            <h2 class="text-center">Hasil Pencarian</h2>
            
            {% if podcasts %}
            <div class="mt-4">
                <h3>Podcasts</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Oleh</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in podcasts %}
                        <tr>
                            <td>{{ result.1 }}</td>
                            <td>{{ result.2 }}</td>
                            <td><a href="#">[Lihat]</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if songs %}
            <div class="mt-4">
                <h3>Songs</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Oleh</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in songs %}
                        <tr>
                            <td>{{ result.1 }}</td>
                            <td>{{ result.2 }}</td>
                            <td><a href="#">[Lihat]</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if user_playlists %}
            <div class="mt-4">
                <h3>User Playlists</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Oleh</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in user_playlists %}
                        <tr>
                            <td>{{ result.1 }}</td>
                            <td>{{ result.2 }}</td>
                            <td><a href="#">[Lihat]</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    {% else %}
    <div class="container mt-5">
        <p class="text-center">Tidak ada hasil pencarian untuk "{{ query }}".</p>
    </div>
    {% endif %}
{% endblock content %}
